.index {
  padding: 8rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;

  @include respond(tab-land) {
    padding: 15rem 0 8rem 0;
  }
}

.user {
  // margin: 5rem;

  &__picture {
    width: 31rem;
    height: 33rem;
    border-radius: 50%;
  }
}

.bio {
  font-size: 2.2rem;
  font-weight: 500;
  color: $color-secondary-light;
  margin: 5rem 0;

  @include respond(tab-land) {
    margin: 5rem 0 13rem 0;
  }

  @include respond(tab-port) {
    margin: 5rem 0 20rem 0;
  }
}

.media {
  width: 100%;

  &__list {
   display: flex;
   justify-content: center;
  }

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  
  &__icon {
    filter: invert(.5);

    &:hover,
    &:active {
      filter: none;
    }
  }
}