.container {
  background-color: $color-white;
  display: grid;
  grid-template-columns: [sidebar-start] 12rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8,
  [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 10rem minmax(10rem, auto);
  min-height: 50rem;
}

.header {
  height: 10rem;
  grid-column: sidebar-start / full-end;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}