.container {
  min-height: 80vh;
  // max-width: 130rem;
  max-width: 80vw;
  margin: 8rem auto;
  background-color: $color-white;
  display: grid;
  grid-template-columns: [sidebar-start] minmax(21rem, 16%) [sidebar-end full-start] 1fr [full-end];
  grid-template-rows: 9rem auto; 
  // minmax(10rem, auto);
  

  @include respond(tab-land) {
    margin: 0;
    max-width: 100vw;
    min-height: 100vh;

    grid-template-rows: 9rem 5rem auto;
  }
  
}

.header {
  background-color: $color-white;
  grid-column: sidebar-start / full-end;
  border-bottom: 1px solid $color-grey-30;

  @include respond(tab-port) {
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    border-bottom: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  background-color: $color-grey-80;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 2 / -1;

  @include respond(tab-port) {
    grid-column: sidebar-start / full-end;
    grid-row: 2 / 3;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  grid-column: sidebar-end / full-end;
  grid-row: 2 / -1;

  @include respond(tab-port) {
    grid-column: sidebar-start / full-end;
    grid-row: 3 / -1;
  }
}