// user info(my info) in header section
.name {
  display: flex;
  align-items: center;

  &__link {
    text-decoration: none;
  }

  &__text {
    font-size: 5.2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-secondary-light;

    @include respond(tab-port) {
      color: $color-grey-20;
    }

    // &--1 {

    //   &:hover {
    //     display: none;
    //   }
    // }
  }
}