.nav {
  font-size: 1.6rem;
  list-style: none;
  margin-top: 3.5rem;

  &__item {
    // border-bottom: 1px solid $color-grey-90;
    position: relative;

    &:not(:last-child) {
      // margin-bottom: .5rem;
      border-bottom: 1px solid $color-secondary-dark;
      // border-top: 1px solid $color-grey-90;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: $color-primary;
    transform: scaleY(0);
    transition: transform .2s,
                width .4s cubic-bezier(1,0,0,1) .2s,
                background-color .1s;
  }

  &__item:hover::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__link {
    color: $color-grey-30;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    filter: invert(.8);
  }
}

.legal {
  font-size: 1.2rem;
  color: $color-grey-30;
  text-align: center;
}