$color-primary: #48B49C;
$color-primary-light: #79C8B7;
$color-primary-dark: #358372;


$color-secondary: #B87333;
$color-secondary-light: #C9803C;
$color-secondary-dark: #A4672D;

$color-grey-0: #FAFAFA;
$color-grey-10: #F6F6F6;
$color-grey-20: #EFEFEF;
$color-grey-30: #E5E5E5;
$color-grey-40: #D6D6D6;
$color-grey-50: #C2C2C2;
$color-grey-60: #A8A8A8;
$color-grey-70: #878787;
$color-grey-80: #606060;
$color-grey-90: #333333;
$color-grey-100: #050505;


$color-white: #fff;
$color-black: #000;


