$color-primary: #48B49C;
$color-primary-light: #79C8B7;
$color-primary-dark: #358372;


$color-secondary: #B87333;
$color-secondary-light: #C9803C;
$color-secondary-dark: #A4672D;

$color-neutral-0: #FAFAFA;
$color-neutral-10: #F3F4F4;
$color-neutral-20: #E6E7E7;
$color-neutral-30: #D1D3D3;
$color-neutral-40: #B3B5B4;
$color-neutral-50: #888989;
$color-neutral-60: #515252;
$color-neutral-70: #141414;

$color-white: #fff;
$color-black: #000;